<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AntJenkinsTestSuite">
  <test name="MyTests" verbose="2">
    <classes>
      <class name="myPackage.SmokeTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
